lecture1.aux
lecture1.log
lecture2.aux
lecture3.aux
lecture4.aux
lecture5.aux
lecture6.aux
lecture7.aux
lecture8.aux
lecture9.aux
lecture10.aux
a_num_analysis.pdf
a_num_analysis.aux
a_num_analysis.toc
a_num_analysis.log
a_num_analysis.aut
a_num_analysis.synctex.gz
titlepage.aux
